body {
}
a {
	text-decoration: none;
	color: inherit;
}
img {
	display: block;
	height: auto;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
ul, ol {
	padding: 0;
	margin: 0;
	list-style: none;
}
button {
	border: none;
	font-family: inherit;
}
input, textarea {
	&:focus {
		outline: none;
	}
}