@mixin media( $args ) {
    $size: nth($args, 1);
    $mode: min-width;
    @if length($args) > 1 {
        $mode: nth($args, 1);
        $size: nth($args, 2);
    }
    @else {
        $mode: min-width;
        $size: nth($args, 1);
    }
    @media ($mode: $size ) {
        @content;
    }
}
@mixin clearfix {
	&:after {
		clear: both;
		content: "";
		display: table;
	}
}
@mixin center($position: absolute, $align: '') {
	position: #{$position};
	@if $align == 'vertical' {
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	@else if $align == 'horizontal' {
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translate(-50%);
	}
	@else if $align == 'both' {
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	} 
} 
@mixin fade($type, $time:.2s, $delay:$time) {
	@if $type == 'hide' {
		visibility: hidden;
		opacity: 0;
		transition: visibility $time $delay, opacity $time 0s;
	}
	@else if $type == 'show' {
		visibility: visible;
		opacity: 1;
		transition: visibility 0s 0s, opacity $time $delay;
	}
}
@mixin placeholder {
	&::-webkit-input-placeholder {
	  @content;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  @content;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  @content;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  @content;
	}
}
@mixin grayscale( $reverse: false) {
	@if $reverse {
		-webkit-filter: grayscale(0%);
		filter: grayscale(0%);
		filter: none;
	}
	@else {
		-webkit-filter: grayscale(100%);
		filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
		filter: grayscale(100%);
		filter: gray;
	}
}
@mixin v-out($translateY: 40px, $time: .3s, $fn: cubic-bezier(.66,.13,.15,.59)) {
	visibility: hidden;
	opacity: 0;
	transform: translate3d(0,$translateY,0);
	transition: transform  $fn $time, opacity ease-in-out $time, visibility 0s $time;
}

@mixin v-in($translateY: 0,  $time: .3s, $delay: 0s, $fn: cubic-bezier(.66,.13,.15,.59)) {
	transition: transform  $fn $time $delay, opacity ease-in-out $time $delay, visibility 0s 0s;
	transform: translate3d(0,$translateY,0);
	opacity: 1;
	visibility: visible;
}
@mixin aspect-ratio($width, $height) {
	position: relative;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	> * {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}