* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    padding: 19px 22px;
    box-sizing: border-box;
}
.top {
    position: relative;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    &__logo {
        img {
            width: 100%;
            min-width: 260px;
            @include media(max-width $s) {
                padding: 38px;
            }
            @include media(max-height $s){
                max-width: 300px;
            }
        }
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__b {
        width: 100%;
        span {
            display: block;
            padding-bottom: 25px;
            text-align: center;
            line-height: 25px;
            font-family: "freight-big-pro", sans-serif;
            font-weight: 400;
            letter-spacing: 4px;
            font-size: 18px;
            @include media(max-height $s) {
                padding-bottom: 10px;
                font-size: 16px;
            }
            text-transform: uppercase;
            color: #ffffff;
        }
        img {
            display: block;
            margin: auto;
            @include media(max-height $s) {
                width: 25px;
            }
        }
        position: absolute;
        left: 50%;
        bottom: 70px;
        @include media(max-height $s) {
            bottom: 20px;
        }
        @include media(max-height $xs) {
            bottom: 10px;
        }
        transform: translate(-50%);
    }
}